<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adjustment Reciept</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <h2>Adjustment Reciept</h2>
        <table class="details-table">
            <tr>
                <td>Adjustment ID:</td>
                <td>{{bill_adjustment.adjustment_id}}</td>
            </tr>
            <tr>
                <td>Bill ID:</td>
                <td>{{bill_adjustment.bill_id}}</td>
            </tr>
            <tr>
                <td>Officer Name:</td>
                <td>{{ bill_adjustment.officer_name }}</td>
            </tr>
            <tr>
                <td>Officer Designation:</td>
                <td>{{ bill_adjustment.officer_designation }}</td>
            </tr>
            <tr>
                <td>Original Bill Amount:</td>
                <td>{{ bill_adjustment.original_bill_amount }}</td>
            </tr>
            <tr>
                <td>Adjustment Amount:</td>
                <td>{{ bill_adjustment.adjustment_amount }}</td>
            </tr>
            <tr>
                <td>Adjustment Reason:</td>
                <td>{{ bill_adjustment.adjustment_reason }}</td>
            </tr>
            <tr>
                <td>Adjustment Date:</td>
                <td>{{ bill_adjustment.adjustment_date }}</td>
            </tr>
        </table>
    </div>
</body>
</html>